In [1]:
import requests
import pandas as pd
from pandas.core.frame import DataFrame
import re
import datetime
import csv
import matplotlib.pyplot as plt

In [2]:
url = 'https://www.flightradar24.com/data/statistics'

In [3]:
res = requests.get(url,headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.84 Safari/537.36',})

In [4]:
con= res.content.decode('gbk')

In [5]:
re= re.findall(r"var charts = (.+?);</script> </section></div>", con)

In [6]:
chart=eval(re[0])

In [7]:
MA= pd.DataFrame(chart['commercial']['series'][0]['data'][:14][::-1])[1]
Num= pd.DataFrame(chart['commercial']['series'][1]['data'][:14][::-1])[1]
Date=pd.date_range(end=datetime.date.today(),periods=15)[:14]

In [8]:
Commercial_Flights = {'DateTime':Date,'7 days Moving Average':MA,'Number of Flight':Num}

In [9]:
df=DataFrame(Commercial_Flights)
df

     DateTime  7 days Moving Average  Number of Flight
0  2020-05-28                  35657             40570
1  2020-05-29                  35870             32562
2  2020-05-30                  36387             33564
3  2020-05-31                  37170             38820
4  2020-06-01                  38086             41865
5  2020-06-02                  38632             43341
6  2020-06-03                  39257             44077
7  2020-06-04                  39936             45329
8  2020-06-05                  40552             36871
9  2020-06-06                  41167             37867
10 2020-06-07                  41649             42195
11 2020-06-08                  41968             44099
12 2020-06-09                  42440             46644
13 2020-06-10                  42958             47707

In [10]:
df.to_csv('/Users/zhaoyijie/Desktop/Recent 14-day Number of Flights.csv',index=False,header=True)